<main xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h1>Προσθήκη νέου υπαλλήλου</h1>

  <div class="form-new-employee">
    <form [formGroup]="EmployeeAddFormGroup" action="">
    <div class="input firstName">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή Ονοματος</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="EmployeeAddFormGroup.get('firstName')?.hasError('required')"> Το πεδίο είναι υποχρεωτικό.
        </mat-error> </mat-form-field>
    </div>
    <div class="input lastName">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή Επώνυμου</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="EmployeeAddFormGroup.get('lastName')?.hasError('required')"> Το πεδίο είναι υποχρεωτικό.</mat-error>
      </mat-form-field>
    </div>
    <div class="input email">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="EmployeeAddFormGroup.get('email')?.hasError('required')"> Το πεδίο είναι υποχρεωτικό.
        </mat-error> </mat-form-field>
    </div>
    <div class="input lastName">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή τηλεφώνου</mat-label>
        <input matInput formControlName="mobileNumber">
        <mat-error *ngIf="EmployeeAddFormGroup.get('mobileNumber')?.hasError('required')"> Το πεδίο είναι υποχρεωτικό.
        </mat-error> </mat-form-field>
    </div>
    <div class="input address">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή Διεύθυνσης</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="EmployeeAddFormGroup.get('address')?.hasError('required')"> Το πεδίο είναι υποχρεωτικό.
        </mat-error> </mat-form-field>
    </div>
    <div class="input hireDate">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή ημερωμηνίας πρόσληψης</mat-label>
        <input matInput [matDatepicker]="hireDatePicker" formControlName="hireDate"  >
        <mat-error *ngIf="EmployeeAddFormGroup.get('hireDate')?.hasError('required')"> Το πεδίο είναι υποχρεωτικό.</mat-error>
        <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #hireDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
      <div class="is-enabled">
        <mat-radio-group aria-label="Select an option" formControlName="enabled">
          <mat-label class="label-enabled">Ενεργός?</mat-label>
          <mat-radio-button color="primary" value="true">Ναι</mat-radio-button>
          <mat-radio-button color="primary" value="false" checked>Όχι</mat-radio-button>

        </mat-radio-group>
      </div>

      <div class="supervisors">
      <mat-form-field>
        <mat-select placeholder="--" [(value)]="selectedOption">
          <input  matInput formControlName="supervisorId">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor">
            {{supervisor.lastName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="EmployeeAddFormGroup.hasError('required')">Παρακαλώ επιλέξτε Supervisor</mat-error>
      </mat-form-field>
    </div>
    </form>
  </div>


  <button mat-stroked-button class="button"  (click)="onSubmit()">Αποθήκευση</button>
  <button mat-stroked-button class="button" (click)="cancel()">Ακύρωση</button>
</main>
