<main>
  <h1>Προσθήκη νέου υπαλλήλου</h1>
  <div class="form-new-employee" [formGroup]="addEmployeeFormGroup">
    <div class="employee-details">
      <div class="input-firstName">
        <h2>Στοιχεία Εργαζομένου</h2>
        <mat-form-field appearance="fill">
          <mat-label>Εισαγωγή Ονοματος</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="addEmployeeFormGroup.get('firstName')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
          <mat-error *ngIf="addEmployeeFormGroup.get('firstName')?.hasError('pattern')">Μη αποδεκτοί ειδικοί χαρακτήρες και αριθμοί.</mat-error>
        </mat-form-field>
      </div>
      <div class="input-lastName">
        <mat-form-field appearance="fill">
          <mat-label>Εισαγωγή Επώνυμου</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="addEmployeeFormGroup.get('lastName')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
          <mat-error *ngIf="addEmployeeFormGroup.get('lastName')?.hasError('pattern')">Μη αποδεκτοί ειδικοί χαρακτήρες και αριθμοί.</mat-error>
        </mat-form-field>
      </div>
      <div class="input-email">
        <mat-form-field appearance="fill">
          <mat-label>Εισαγωγή email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="addEmployeeFormGroup.get('email')?.invalid">{{getEmailError()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-mobile">
        <mat-form-field appearance="fill">
          <mat-label>Εισαγωγή τηλεφώνου</mat-label>
          <input matInput formControlName="mobileNumber">
          <mat-error *ngIf="addEmployeeFormGroup.get('mobileNumber')?.invalid">{{getMobilePhoneError()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-address">
        <mat-form-field appearance="fill">
          <mat-label>Εισαγωγή Διεύθυνσης Κατοικίας</mat-label>
          <input matInput formControlName="address">
          <mat-error *ngIf="addEmployeeFormGroup.get('address')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
          <mat-error *ngIf="addEmployeeFormGroup.get('address')?.hasError('pattern')">Μη αποδεκτοί ειδικοί χαρακτήρες.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="hire-details">
      <div class="input-hireDate">
        <h2>Ημερομηνία πρόσληψης</h2>
        <mat-form-field appearance="fill">
          <mat-label>Επιλέξτε ημερομηνία</mat-label>
          <input matInput [matDatepicker]="hireDatePicker" formControlName="hireDate">
          <mat-error *ngIf="addEmployeeFormGroup.get('hireDate')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
          <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #hireDatePicker color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="supervisors">
        <h2>Ορισμός προισταμένου</h2>
        <mat-form-field>
          <mat-label>Επιλέξτε προιστάμενο:</mat-label>
          <mat-select [(value)]="selectedSupervisor" formControlName = "supervisorId">
            <mat-option value = 0>Κανένας</mat-option>
            <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.employeeId">{{supervisor.lastName + " " + supervisor.firstName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="addEmployeeFormGroup.get('supervisorId')?.hasError('required')">Παρακαλώ επιλέξτε Προιστάμενο</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="employee-leave-balance">
      <h2>Εισαγωγή αδειών</h2>
      <div *ngIf="!addingLeaves"  class= "leave-table">
        <div class= "add-leave-btn">
          <button mat-raised-button color="primary" (click)="onClickForAddLeave()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon
            ><span>Προσθήκη άδειας</span>
          </button>
        </div>
        <div *ngIf="hasRows" class="table-container mat-elevation-z8">
          <mat-table matSort class="table" #table [dataSource]="leaveDataSource">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef >Κατηγορία Άδειας</mat-header-cell>
              <mat-cell *matCellDef="let category">{{category.leaveTitle}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="days">
              <mat-header-cell *matHeaderCellDef >Μέρες</mat-header-cell>
              <mat-cell *matCellDef="let category">{{category.days}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef >Επιλογές</mat-header-cell>
              <mat-cell *matCellDef="let row = index ">
                <div class="leave-options">
                  <mat-icon class="icon material-symbols-outlined" matTooltip="Επεξεργασία" (click)="onClickForEditALeave($event, row);" color="primary">edit</mat-icon>
                  <mat-icon class="icon bin"  matTooltip="Διαγραφή" color="primary" (click) = "onDeleteRow(row)">delete_forever</mat-icon>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row class="header" *matHeaderRowDef="displayedColumns" ></mat-header-row>
            <mat-row [ngClass]="getIndexClass(row)" class="header-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
      <div *ngIf="addingLeaves && selectLeaveCategoryFormGroup != null " class="add-leave-container" [formGroup] = "selectLeaveCategoryFormGroup">
        <div class="leave-details">
          <div class="all-leaves-dd">
            <mat-form-field appearance="fill">
              <mat-label>Κατηγορία Άδειας</mat-label>
              <mat-select [(value)]="selectedLeaveCategory" formControlName = "title">
                <mat-option *ngFor="let category of leaveCategories" [value]="category.title">{{category.title}}</mat-option>
              </mat-select>
              <mat-error *ngIf="selectLeaveCategoryFormGroup!.get('title')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
            </mat-form-field>
          </div>
          <div class="leave-days-input">
            <mat-form-field appearance="fill" >
              <mat-label>Ημέρες Άδειας</mat-label>
              <input matInput formControlName = "days">
              <mat-error *ngIf="selectLeaveCategoryFormGroup!.get('days')?.invalid">{{onLeaveDaysError()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="add-leave-btn-options">
          <button *ngIf="!isLeaveBalanceEdited" mat-raised-button color="accent" (click)="onAddLeave()" class="button" [disabled]="!selectLeaveCategoryFormGroup!.get('title')?.valid || !selectLeaveCategoryFormGroup!.get('days')?.valid">Προσθήκη άδειας</button>
          <button *ngIf="isLeaveBalanceEdited" mat-raised-button color="accent" (click)="onSavingEditedLeave()" class="button" [disabled]="!selectLeaveCategoryFormGroup!.get('title')?.valid || !selectLeaveCategoryFormGroup!.get('days')?.valid">Αποθήκευση αλλαγών</button>
          <button mat-raised-button color="warn" (click)="addingLeaves = !addingLeaves" class="button">Ακύρωση</button>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-options">
    <button mat-raised-button color="accent" (click)="onSubmit()" class="button" [disabled] = "addingLeaves || addEmployeeFormGroup.invalid">Αποθήκευση</button>
    <button mat-raised-button color="warn" (click)="navigateTo()" class="button">Ακύρωση</button>
  </div>
</main>
