main{
    padding: 5vh 0 0 0;
    margin: 5vh 0 5vh 5vw;
}

.table-container{
    margin-right: 5vw ;
    overflow: auto;
}



h1{
    color: orange;
}

.above-table{
  display: flex;
  justify-content: space-between;
}

.add {
  display: flex;
  cursor: pointer;
}

.add h2{
  font-size: 14pt;
  margin: auto 5px;
  transition: color 0.24s ease
}

.add img{
  scale: 70%;
  transition: scale 0.14s ease;
}

.add:hover h2{
  color: orange;
}

.add:hover img{
  scale: 79%;
}

.header *{
    background-color: #252525;
    color: orange;
}

.header-row:nth-child(odd) {
  background-color: #d6d4d4;
}

.header-row:nth-child(even) {
  background-color: #E9E9E9; 
}

.header-row {
    transition: background-color 0.34s ease; /* Add a smooth transition effect */
  }
  
  /* Style for even rows on hover */
  .header-row:nth-child(even):hover {
    background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
  }
  
  /* Style for odd rows on hover */
  .header-row:nth-child(odd):hover {
    background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
  }
  

.bin{
  transition: scale 0.14s ease
}

.bin:hover{
  cursor: pointer;
  scale: 110%;
  transform: rotate(3deg);
}

.pending{
  font-weight: 500;
  color: rgb(24, 24, 122)
}

.accepted{
  font-weight: 500;
  color: rgb(24, 122, 40)
}

.denied{
  font-weight: 500;
  color: rgb(122, 24, 24)
}
