@import '../../../../../src/styles';

main{
    padding: 5vh 0 0 0;
    margin: 5vh 0 5vh 5vw;
    display: none;
}

main.loaded{
  display: block;
}

.table-container{
    margin-right: 5vw ;
    overflow: auto;
}

h1{
    color: $myFixedColor;
}

.above-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5vw ;
  align-items: center;
}

.table-scroller{
  min-width: 720px;
}

.add {
  display: flex;
  cursor: pointer;
}

.add h2{
  font-size: 14pt;
  margin: auto 5px;
  transition: color 0.24s ease
}

.add mat-icon{
  padding-right: 5px;
  transition: opacity 0.14s ease;
}


.add:hover mat-icon{
  opacity: 84%;
  fill: red;
}

.add:hover h2{
  color: $myFixedColor;
}

.header *{
    background-color: #252525;
    color: $myFixedColor;
}

.header-row:nth-child(odd) {
  background-color: #d6d4d4;
}

.header-row:nth-child(even) {
  background-color: #E9E9E9;
}

.header-row {
    transition: background-color 0.34s ease; /* Add a smooth transition effect */
  }

  /* Style for even rows on hover */
  .header-row:nth-child(even):hover {
    background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
  }

  /* Style for odd rows on hover */
  .header-row:nth-child(odd):hover {
    background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
  }


.icon-container{
  display: flex;
  justify-content: space-evenly !important;
  fill: $myFixedColor;
}

.disabled-icon {
  fill: $myThirdFixedColor;
  pointer-events: none;
  color: $myThirdFixedColor !important;
}
.icon{
  scale: 107%;
  opacity: 90%;
  transition: scale 0.14s ease
}

.icon:hover{
  cursor: pointer;
  scale: 118%;
  transform: rotate(3deg);
  color: rgb(114, 74, 0);
}

.bin:hover{
  color: rgb(141, 6, 6);
}


#pending{
  font-weight: 500;
  color: rgba(0, 51, 255, 0.75)
}

mat-cell{
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-header-cell{
  display: flex;
  align-items: center;
  justify-content: center;
}


mat-paginator{
  background-color: #d6d4d4;
  color: $myFixedColor;
}

mat-paginator.even{
  background-color: #E9E9E9;
}

mat-spinner{
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: white;
}


