<main [ngClass]="{'loaded': isLoaded}">
    <div class="above-table">
      <span>
        <h1 style="margin-bottom: 4px;">Τα αιτήματα μου</h1>
        <p>(Διπλό κλικ για επεξεργασία ενός αιτήματος)</p>
      </span>
      <span (click)="navigateTo('add')" class="add">
        <button mat-raised-button color="primary">
          <div style="display: flex; align-items: center;">
            <mat-icon class="add-icon">note_add</mat-icon>
            Νέο
          </div>
        </button>
      </span>
    </div>
    <div class="table-container">
      <div class="table-scroller">
      <mat-table class="table" #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="submitDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ημερομηνία Υποβολής</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.submitDate| date: 'dd-MM-Y'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Εκκίνηση</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.startDate| date: 'dd-MM-Y'}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Λήξη</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.endDate| date: 'dd-MM-Y'}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Διάρκεια</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leaveTitle">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Κατηγορία</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.leaveTitle}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Κατάσταση</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div *ngIf="element.status === 'Εγκεκριμένη'">
              <mat-icon matTooltip="Εγκεκριμένη" color="accent">done</mat-icon>
            </div>
            <div *ngIf="element.status === 'Απορρίφθηκε'">
              <mat-icon matTooltip="Απορρίφθηκε" color="warn">close</mat-icon>
            </div>
            <div *ngIf="element.status === 'Εκκρεμεί'">
              <mat-icon matTooltip="Εκκρεμεί" id="pending">access_time</mat-icon>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell style="padding: 0;" *matHeaderCellDef>Επεξεργασία</mat-header-cell>
          <mat-cell class="icon-container" style="padding: 0; justify-content: center;" *matCellDef="let element">
            <mat-icon
              class="icon edit"
              matTooltip="Επεξεργασία"
              color="primary"
              [ngClass]="{'disabled-icon': element.status !== 'Εκκρεμεί'}"
              (click)="element.status === 'Εκκρεμεί' && editRequest()"
            >
              edit
            </mat-icon>
            <mat-icon
              class="icon bin"
              matTooltip="Διαγραφή"
              color="primary"
              [ngClass]="{'disabled-icon': element.status !== 'Εκκρεμεί'} "
              (click)="element.status === 'Εκκρεμεί' && deleteRequest($event)"
            >
              delete_forever
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row class="header" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="header-row" *matRowDef="let row; columns: displayedColumns;" (dblclick)="editRequest()"
          (click)="setRow(row)"></mat-row>
        </mat-table>
        </div>
          <p *ngIf="!hasData && isLoaded" style="padding: 22px 0 13px 0; text-align: center;">Δεν βρέθηκαν αιτήματα.</p>
          <mat-paginator [ngClass]="{'even': dataSource.filteredData.length%2==0}" [pageSizeOptions]="[4, 8]" showFirstLastButtons aria-label="Select page"></mat-paginator>
        </div>

</main>

<div *ngIf="!isLoaded">
  <mat-spinner color="primary"></mat-spinner>
</div>
