<main>
  <h1>Προσθήκη νέου λογαριασμού</h1>

  <p style="max-width: 300px; text-align: center;">Οι ρυθμίσεις του λογαριασμού μπορούν να αλλαχτούν και μετά τη δημιουργία του</p>
  <div class="form-new-user" [formGroup]="newUserFormGroup">
    <div class="employee-dd">
      <mat-form-field appearance="fill">
        <mat-label>Εργαζόμενος</mat-label>
        <mat-select [(ngModel)]="selectedEmployee" formControlName = "employeesFormControl" (selectionChange) = "onSelectEmployee()"  required>
          <mat-option *ngFor="let employee of allEmployees" value="{{employee.employeeId}}">{{employee.lastName + " " + employee.firstName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="input-username"  >
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" formControlName= "usernameFromControl" required>
        <mat-error  *ngIf="newUserFormGroup.get('usernameFromControl')?.invalid">{{getErrorUsername()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-pass">
      <mat-form-field appearance="fill">
        <mat-label>Προσωρινό password</mat-label>
        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" formControlName = "passwordFormControl" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="newUserFormGroup.get('passwordFormControl')?.invalid">{{getErrorPass()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="role-dd">
      <mat-form-field appearance="fill">
        <mat-label>Ρόλος λογαριασμού</mat-label>
        <mat-select [(ngModel)]="selectedRole" formControlName = "rolesFormControl" required>
          <mat-option value = "admin">Admin</mat-option>
          <mat-option value = "hr">HR</mat-option>
          <mat-option value = "employee">Εργαζόμενος</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="supervisor-rdg">
      <mat-radio-group aria-label="Select an option" formControlName = "isSupervisorFormControl">
        <mat-label class="label-sv">Είναι προιστάμενος;</mat-label>
        <mat-radio-button color="primary" value="1" (change)="isSupervisor = true">Ναι</mat-radio-button>
        <mat-radio-button color="primary" value="2" checked (change)="isSupervisor = false">Όχι</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="btn-options">
    <div class="save-button">
      <button mat-raised-button color="accent" class="button" (click)="saveNewUser()" [disabled]="!newUserFormGroup.get('usernameFromControl')?.valid || !newUserFormGroup.get('passwordFormControl')?.valid || !newUserFormGroup.get('rolesFormControl')?.valid || !newUserFormGroup.get('employeesFormControl')?.valid || !newUserFormGroup.get('isSupervisorFormControl')?.valid">Αποθήκευση</button>
    </div>
    <div class="back-button">
      <button mat-raised-button color="warn" class="button" (click)="navigateTo()">Ακύρωση</button>
    </div>
  </div>
</main>
