nav{
  margin: 15px;
}
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1{
  width: 70px;
  height: 70px;
  margin-top: 70px;
}

.logo2{
  width: 70px;
  height: 70px;
}

.logo3{
  width: 70px;
  height: 70px;
}

.item-text{
  text-align: center;
  margin-bottom: 40px;
  color:rgba(226,135,50,255);
  text-decoration: none;
  font-weight: 500;
}
