<nav>
      <div class="sidebar">
          <div class="centered-div">
                  <a href="">
                    <img class="logo1" src="./assets/supervisor.png" alt="">
                    <p class="item-text">Προιστάμενοι</p>
                  </a>
          </div>
          <div class="centered-div">
                  <a href="">
                    <img class="logo2" src="./assets/hr.png" alt="">
                    <p class="item-text">HR</p>
                  </a>
          </div>
          <div class="centered-div">
                  <a href="">
                    <img class="logo3" src="./assets/admin.png" alt="">
                    <p class="item-text">ADMIN</p>
                  </a>
          </div>
      </div>
</nav>
