<main class="font-mktg d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #f6f8fa;">
  <div class="position-relative d-b lock my-4 mx-auto overflow-hidden" style="max-width: 940px; width: 100%; height: auto; clear: both;">
    <div class="text">
      <div>ERROR</div>
      <h1>404</h1>
      <hr>
      <div>Page Not Found</div>
    </div>
    <div class="astronaut">
      <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" class="src">
    </div>
    <button type="button" (click)="getBack()" id="getBack" mat-raised-button color="primary">
      Get Back
    </button>
  </div>

</main>
