<mat-spinner *ngIf="!dataLoaded"></mat-spinner>

<div class="content" *ngIf="dataLoaded">
  <h1>Επεξεργασία στοιχείων του εργαζομένου: </h1>
  <h2>{{employee.firstName}}  {{employee.lastName}}</h2>

  <form [formGroup] = "editEmployeeFormGroup">
    <div class="details-container">
      <div class="employee-details">
        <h3>Στοιχεία Εργαζομένου</h3>

        <mat-card-header>
          <mat-card-title>Όνομα</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="Όνομα" (keydown)="onEdit()">
          <mat-error *ngIf="myError('firstName','required')">Υποχρεωτικό πεδίο</mat-error>
          <mat-error *ngIf="myError('firstName','maxlength')">Υπερβαίνει το όριο χαρακτήρων</mat-error>
        </mat-form-field>

        <mat-card-header>
          <mat-card-title>Επώνυμο</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Επίθετο" (keydown)="onEdit()">
          <mat-error *ngIf="myError('lastName','required')">Υποχρεωτικό πεδίο</mat-error>
          <mat-error *ngIf="myError('lastName','maxlength')">Υπερβαίνει το όριο χαρακτήρων</mat-error>
        </mat-form-field>

        <mat-card-header>
          <mat-card-title>Διεύθυνση</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput formControlName="address" placeholder="Address" (keydown)="onEdit()">
          <mat-error *ngIf="myError('address','required')">Υποχρεωτικό πεδίο</mat-error>
          <mat-error *ngIf="myError('address','maxlength')">Υπερβαίνει το όριο χαρακτήρων</mat-error>
        </mat-form-field>
      </div>

      <div class="contact-details">
        <h3>Στοιχεία Επικοινωνίας</h3>
        <mat-card-header>
          <mat-card-title>Αριθμός Τηλεφώνου</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput formControlName="mobileNumber" placeholder="Mobile Number" (keydown)="onEdit()">
          <mat-error *ngIf="myError('mobileNumber','required')">Υποχρεωτικό πεδίο</mat-error>
          <mat-error *ngIf="myError('mobileNumber','maxlength')">Υπερβαίνει το όριο χαρακτήρων</mat-error>
        </mat-form-field>

        <mat-card-header>
          <mat-card-title>Email</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" (keydown)="onEdit()">
          <mat-error *ngIf="myError('email','required')">Υποχρεωτικό πεδίο</mat-error>
          <mat-error *ngIf="myError('email','maxlength')">Υπερβαίνει το όριο χαρακτήρων</mat-error>
          <mat-error *ngIf="myError('email','email')">Δεν είναι email</mat-error>
        </mat-form-field>

      </div>

      <div class="rest-details">
        <h3>Στοιχεία Σύμβασης</h3>

        <mat-card-header>
          <mat-card-title>Ημερομηνία Πρόσληψης</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <mat-label>Επιλογή ημερομηνίας</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hireDate" (dateChange)="onEdit()">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="myError('hireDate','required')">Υποχρεωτικό πεδίο</mat-error>
          <mat-error *ngIf="myError('hireDate','maxlength')">Υπερβαίνει το όριο χαρακτήρων</mat-error>
        </mat-form-field>

        <mat-card-header>
          <mat-card-title>Προιστάμενος Εργαζομένου</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <mat-select formControlName="supervisorId" (selectionChange)="onEdit()">
            <mat-option value='0'>Κανένας</mat-option>
            <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.employeeId">{{ supervisor.lastName + ' ' + supervisor.firstName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-header>
          <mat-card-title><h3>Κατάσταση Εργαζομένου</h3></mat-card-title>
        </mat-card-header>
        <div class="slide-me-daddy">
          <span>Επιλέξτε:
            <mat-slide-toggle color="primary" formControlName="enabled" (change)="onEdit(); isEmployeeEnabled = !isEmployeeEnabled"></mat-slide-toggle>
            <span class="{{isEmployeeEnabled ? 'active' : 'inactive'}}">{{isEmployeeEnabled ? 'Εργαζόμενος' : 'Απολυμένος'}}</span>
          </span>
        </div>

      </div>

      <div class="leave-details">
        <h3>Στοιχεία Αδειών Εργαζομένου</h3>
        <div *ngIf="!editLeaves" class= "leave-table">
          <mat-card-header>
            <mat-card-title>Πίνακας με τις άδειες του</mat-card-title>
          </mat-card-header>
          <div class= "add-leave-btn">
            <button mat-raised-button color="primary" (click)="onClickForAddLeave(); onEdit()">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
              <span>Προσθήκη άδειας</span>
            </button>
          </div>
          <div class="table-container mat-elevation-z8">
            <mat-table matSort class="table" #table [dataSource]="leaveDataSource">
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef >Κατηγορία Άδειας</mat-header-cell>
                <mat-cell *matCellDef="let category">{{category.leaveTitle}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="days">
                <mat-header-cell *matHeaderCellDef >Μέρες</mat-header-cell>
                <mat-cell *matCellDef="let category">{{category.days}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef >Επιλογές</mat-header-cell>
                <mat-cell *matCellDef="let row = index;">
                  <div class="leave-options">
                    <mat-icon class="icon material-symbols-outlined" matTooltip="Επεξεργασία" (click)="onClickForEditALeave($event, row); onEdit();" color="primary">edit</mat-icon>
                    <mat-icon class="icon bin"  matTooltip="Διαγραφή" color="primary" (click) = "onDeleteRow($event, row); onEdit();">delete_forever</mat-icon>
                  </div>
                </mat-cell>
              </ng-container>
              <mat-header-row class="header" *matHeaderRowDef="displayedColumns" ></mat-header-row>
              <mat-row [ngClass]="getIndexClass(row)" class="header-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
        <div *ngIf="editLeaves && selectLeaveCategoryFormGroup != null " class="add-leave-container" [formGroup] = "selectLeaveCategoryFormGroup">
          <mat-card-header>
            <mat-card-title>Προσθήκη νέας άδειας στον εργαζόμενο</mat-card-title>
          </mat-card-header>
          <div class="leave-details">
            <div class="all-leaves-dd">
              <mat-form-field appearance="fill">
                <mat-label>Κατηγορία Άδειας</mat-label>
                <mat-select [(value)]="selectedLeaveCategory" formControlName = "title">
                  <mat-option *ngFor="let category of leaveCategories" [value]="category.title">{{category.title}}</mat-option>
                </mat-select>
                <mat-error *ngIf="selectLeaveCategoryFormGroup!.get('title')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
              </mat-form-field>
            </div>
            <div class="leave-days-input">
              <mat-form-field appearance="fill" >
                <mat-label>Ημέρες Άδειας</mat-label>
                <input matInput formControlName = "days">
                <mat-error *ngIf="selectLeaveCategoryFormGroup!.get('days')?.invalid">{{onLeaveDaysError()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="add-leave-btn-options">
            <button *ngIf="!isLeaveBalanceEdited" mat-raised-button color="accent" (click)="onSavingNewLeave()" class="button" [disabled]="!selectLeaveCategoryFormGroup!.get('title')?.valid || !selectLeaveCategoryFormGroup!.get('days')?.valid">Προσθήκη άδειας</button>
            <button *ngIf="isLeaveBalanceEdited" mat-raised-button color="accent" (click)="onSavingEditedLeave()" class="button" [disabled]="!selectLeaveCategoryFormGroup!.get('title')?.valid || !selectLeaveCategoryFormGroup!.get('days')?.valid">Αποθήκευση αλλαγών</button>
            <button mat-raised-button color="warn" (click)="editLeaves = !editLeaves; isLeaveBalanceEdited = false;" class="button">Ακύρωση</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="btn-actions">
    <button mat-raised-button color="accent" [disabled] = "!isEditMode || editLeaves" (click)="saveEditedEmployee()">Αποθήκευση</button>
    <button mat-raised-button color="primary" [disabled] = "!isEditMode || editLeaves" (click)="reloadPage()">Επαναφορά επιλογών</button>
    <button mat-raised-button color="warn" (click)="cancelEdit()">Ακύρωση</button>
  </div>
</div>
