h1 {
  color: rgba(226, 135, 50, 1);
  margin: 10px 0;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h2{
  color: rgba(226, 135, 50, 1);
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

mat-spinner{
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: white;
}

mat-form-field{
  width: 15vw;
}

.content {
  border-radius: 10px;
  padding: 5vh 5vw;
}

.content form{
  background-color: #D9D9D9;
  padding: 4vh 2vw;
  margin-bottom: 25px;
  min-height: 290px;
  max-height: fit-content;
  min-width: 270px
}

.details-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.employee-details {

}

.contact-details{

}

.rest-details{

}

.btn-actions{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.btn-actions *{
  margin: 10px;
}

