main{
  padding: 5vh 0 0 0;
  margin: 5vh 0 5vh 5vw;
}

.table-container{
  margin-right: 5vw ;
  overflow: auto;
}

h1{
  color: orange;
}

.header *{
  background-color: #252525;
  color: orange;
}


.even-row {
  background-color: #E9E9E9; /* Set the background color for even rows */
}

/* Add a class for odd rows */
.odd-row {
  background-color: #d6d4d4; /* Set the background color for odd rows */
}

.header-row {
  transition: background-color 0.34s ease; /* Add a smooth transition effect */
}

/* Style for even rows on hover */
.header-row.even-row:hover {
  background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
}

/* Style for odd rows on hover */
.header-row.odd-row:hover {
  background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
}

.filters{
  display: flex;
}

.accept,.decline{
  transition: transform 0.15s ease;;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.accept:disabled:hover,.decline:disabled:hover{
  opacity: 90%;
  cursor: default;
}

.accept:hover,.decline:hover{
  opacity: 85%;
}

.accept:disabled,.decline:disabled{
  opacity: 90%;
  background-image: linear-gradient(to right, #6d6966, #3d3d3d);
  color: #b8b8b8;
}

