
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  margin: 15px;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a:hover {
  cursor: pointer;
}

.menu-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.menu-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.menu-item3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1{
  margin-left: 0.8vh;
}

.icon{
  width: 60%;
  height: auto;
  margin: 0 auto;

}

.item-text{

  text-align: center;
  color:rgba(226,135,50,255);
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px (e.g., tablets and mobile devices) */
  .menu-item1,.menu-item2,.menu-item3 {
    font-size: 12px; /* Decrease font size on smaller screens */
    /* You can adjust other properties here if needed */
  }
}

@media (max-width: 480px) {
  /* Adjust styles for screens with a maximum width of 480px (e.g., small mobile devices) */
  .menu-item1,.menu-item2,.menu-item3 {
    font-size: 10px; /* Further decrease font size on even smaller screens */
    /* You can adjust other properties here if needed */
  }
}

