<nav>
  <div class="sidebar">

    <div class="menu-item1">
      <a href="">
        <img class="logo1" src="../../../../assets/supervisor.png" alt="supervisor">
        <p class="item-text">Προϊστάμενοι</p>
      </a>
    </div>

    <div class="menu-item2" (click)="navigateTo('admin')">
      <a>
        <img class="logo2" src="../../../../assets/admin.png" alt="admin">
        <p class="item-text">ADMIN</p>
      </a>
    </div>

    <div class="menu-item3">
      <a href="">
        <img class="logo3" src="../../../../assets/hr.png" alt="hr">
        <p class="item-text">HR</p>
      </a>
    </div>

  </div>
</nav>
