<main [ngClass]="{'loaded':isLoaded}">

  <h1>Υπόλοιπα</h1>
  <h2>{{firstName}}  {{lastName}}</h2>

  <div class="table-container">

    <mat-table matSorts class="table" #table [dataSource]="dataSource" matSort>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Κατηγορία άδειας </mat-header-cell>
        <mat-cell *matCellDef="let balance"> {{balance.categoryTitle}} </mat-cell>
      </ng-container>

      <!-- Days Column -->
      <ng-container matColumnDef="days">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Δικαιούμενες ημέρες </mat-header-cell>
        <mat-cell *matCellDef="let balance"> {{balance.days}} </mat-cell>
      </ng-container>

      <!-- Days Taken Column -->
      <ng-container matColumnDef="daysTaken">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ληφθείσες </mat-header-cell>
        <mat-cell *matCellDef="let balance"> {{balance.daysTaken}} </mat-cell>
      </ng-container>

      <mat-header-row class="header" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="header-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [ngClass]="{'even': dataSource.filteredData.length%2==0}" [pageSizeOptions]="[4, 8]" showFirstLastButtons aria-label="Select page"></mat-paginator>
  </div>

  <a (click)="navigateTo('requests')"><u>Προβολή αιτημάτων</u></a>
</main>

<div *ngIf="!isLoaded">
  <mat-spinner color="primary"></mat-spinner>
</div>
