@import 'src/styles';

main{
  padding: 5vh 5vw;
  display: flex;
  width: max-content;
  flex-wrap: wrap;
  justify-content: stretch;
}

.calendar-container {
  background-color: white;
  color: $myFixedColor;
  font-size: 25px;
}

full-calendar{
  background-color: #D9D9D9;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  max-height: 69vh;
  width: 70vw;
  min-width: 800px;
  border-radius: 8px;
  margin: 0 auto;
}
.full-calendar-container ::ng-deep .fc-toolbar-title{
  margin-left: 10px;
  margin-top: 5px;
  font-size: 20pt;
  color: orange;
}
.full-calendar-container::ng-deep .fc-toolbar{
  background-color: #252525;
  height: 11vh;
  flex-wrap: wrap;
}

.full-calendar-container::ng-deep .fc-toolbar .fc-toolbar-chunk button{
  height: 30px;
  font-size: 15pt;
  line-height: normal;
  padding: 2px 12px;
}

.full-calendar-container::ng-deep .fc-toolbar .fc-button .fc-icon{
  vertical-align: middle;
  font-size: 14pt;
  padding: 0;
  margin: 0;
}

.full-calendar-container ::ng-deep .fc-view {
  padding: 1vh 1vw;
  color: #252525;
}

.full-calendar-container ::ng-deep .fc-daygrid-day:hover {
  background-color: #f0f0f0;
  transition: 0.3s ease, opacity 0.5s ease;
}
.full-calendar-container ::ng-deep .fc-button{
  background-color: $myFixedColor;
  margin-top: 6px;
  margin-right: 5px;
}
.full-calendar-container ::ng-deep .fc-button:hover:enabled{
  background-color: #D9D9D9;
  transition: 0.3s ease, opacity 0.3s ease;
}
.full-calendar-container::ng-deep .fc-daygrid-day-number{
  font-size: 12pt;
  height: fit-content;
}

.full-calendar-container ::ng-deep .day-header{
  font-size: 14pt;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
  border-bottom: 2px solid #252525;
}

.full-calendar-container ::ng-deep .fc-daygrid-dot-event{
  padding: 0;
  border: 1px solid #252525 !important ;
}

.full-calendar-container ::ng-deep .fc-day-today{
  background-color: rgba(255, 166, 0, 0.296);
}

.full-calendar-container ::ng-deep .custom-event:hover{
  transition: 0.4s ease, opacity 0.3s ease;
  background-color: #252525 !important;
}

.full-calendar-container ::ng-deep .custom-event:hover a{
  color: $myFixedColor !important;
}

.full-calendar-container ::ng-deep .subordinate-event .custom-event{
  background-color: rgb(50, 123, 218) !important;
}

.full-calendar-container ::ng-deep .subordinate-event .custom-event:hover{
  transition: 0.4s ease, opacity 0.3s ease;
  background-color: #252525 !important;
}

.helper ul {
  list-style-type: none;
}

.subordinate-label::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transform: translateY(5px);
  background-color: rgb(50, 123, 218);
}

.personal-label::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transform: translateY(5px);
  background-color: darkorange;
}