<main>
  <h1>Επεξεργασία στοιχείων λογαριασμού</h1>
  <div class="form-edit-user" *ngIf="isLoaded" [formGroup]="editUserFormGroup">
    <div class="selected-employee">
      <h3> Εργαζόμενος :</h3>
      <h2> {{employeeUser?.firstName+" "+employeeUser?.lastName }}   </h2>
    </div>
    <div class="input-username">
      <mat-form-field appearance="fill">
        <mat-label>Εισαγωγή username</mat-label>
        <input matInput formControlName="usernameFormControl" (keydown)="onEdited()" required>
        <mat-error *ngIf="editUserFormGroup.get('usernameFormControl')?.hasError('required')">Το πεδίο είναι υποχρεωτικό.</mat-error>
        <mat-error *ngIf="editUserFormGroup.get('usernameFormControl')?.hasError('pattern')">Δεκτοί μόνο λατινικοί χαρακτήρες</mat-error>
      </mat-form-field>
    </div>
    <div class="input-pass">
      <mat-form-field appearance="fill">
          <mat-label>Nέο password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Κενό για την διατήρηση του παλιού" formControlName="passwordFormControl" (keydown)="onEdited()">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
    </div>
    <div class="role-dd">
      <mat-form-field appearance="fill">
        <mat-label>Ρόλος λογαριασμού</mat-label>
        <mat-select formControlName="rolesFormControl" (selectionChange)="onEdited()" required>
          <mat-option value = "admin">Admin</mat-option>
          <mat-option value = "hr">HR</mat-option>
          <mat-option value = "employee">Εργαζόμενος</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="supervisor-rdg">
      <mat-radio-group aria-label="Επιλέξτε: " formControlName="isSupervisorFormControl" (change)="onEdited()" required>
        <mat-label class="label-sv"><span>Είναι προιστάμενος;</span></mat-label>
        <mat-radio-button color="primary" value="1" (change)="isSupervisor = '1'">Ναι</mat-radio-button>
        <mat-radio-button color="primary" value="2" (change)="isSupervisor = '2'">Όχι</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="slide-me-daddy">
      <span>Κατάσταση λογαριασμού:
      <mat-slide-toggle color="primary" formControlName="isEnabledFormControl" (change)="onEdited(); status = !status"></mat-slide-toggle>
      <span class="{{status ? 'active' : 'inactive'}}">{{status ? 'Ενεργός' : 'Ανενεργός'}}</span></span>
    </div>
  </div>
  <div *ngIf="!isLoaded">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <div class="btn-options">
    <div class="save-button" *ngIf="isLoaded">
      <button mat-raised-button color="accent" class="button" [disabled]="!editUserFormGroup.get('usernameFormControl')?.valid || !editUserFormGroup.get('rolesFormControl')?.valid || !isEdited" (click)="saveEditUser()">Ενημέρωση στοιχείων</button>
    </div>
    <div class="back-button">
      <button mat-raised-button color="warn" class="button" (click)="navigateTo()">Ακύρωση</button>
    </div>
  </div>
</main>
