<main>
    <h1>Λεπτομέρειες Αιτήματος</h1>
    <div class="form-container">

      <form [formGroup]="leaveRequestFormGroup" action="">

        <label class="lab1" for="category">Κατηγορία</label>
        <mat-form-field class="field1">
          <mat-select placeholder="--" [formControl]="categoryControl" required>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryControl.hasError('required')">Παρακαλώ επιλέξτε κατηγορία</mat-error>
        </mat-form-field>

        <label class="lab2" for="startDate">Από</label>
        <mat-form-field class="field2" class="example-full-width">
          <input matInput [matDatepicker]="startDatePicker" [min]="today" placeholder="Επιλέξτε ημερομηνία"
            formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <label class="lab3" for="endDate">Έως</label>
        <mat-form-field class="field3" class="example-full-width">
          <input matInput [matDatepicker]="endDatePicker" [min]="leaveRequestFormGroup.get('startDate')?.value"
            placeholder="Επιλέξτε ημερομηνία" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <hr>
        <label class="lab4" for="submitDate">Ημερομηνία υποβολής</label>
        <input class="field4" [class.nonPending]="!pending" matInput [disabled]="true" [value]="leaveRequestFormGroup.get('submitDate')?.value | date:'dd/MM/Y'"
          name="formattedDate">

          <label class="lab5" for="duration">Διάρκεια</label>
          <input class="field5" [class.nonPending]="!pending" type="number" id="" value="5" formControlName="duration" name="duration">

        </form>
      </div>
      <p *ngIf="!pending" style="color: red;">Η επεξεργασία είναι δυνατή μόνο στα εκκρεμή αιτήματα</p>


          <br>
          <button mat-raised-button color="accent" class="action-button" type="submit" value="Επεξεργασία"(click)="submit()" [disabled]="leaveRequestFormGroup.get('duration')?.value === 0 || !leaveRequestFormGroup.valid " *ngIf="pending" style="margin:0 5vw 0 0">Αποθήκευση</button>
          <button mat-raised-button color="warn" class="action-button" (click)="cancel()" >Επιστροφή</button>
  </main>

