.admin {
  margin-left: 8vh;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}

.mat-elevation-z8 {
  width: 1100px;
}


h1{

  color: orange;
  height: 5%;
  font-size: xx-large;
}

table{
  padding: 2vh;
  margin-top: 100px;
}

.cont{
  background-color: black;
}
.th{
  color: black;
}

.button {
  background-color: rgba(226, 135, 50, 1);
  color: black;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  position: absolute;
}

@media (max-width: 768px) {
  .mat-elevation-z8{
    max-width: 90%;
    font-size: 14px;
    overflow-x: auto;
  }
}
