<main [ngClass]="{'loaded': isLoaded}">
  <h1>Όλοι οι λογαριασμοί</h1>
  <div class="filters">
    <div class="status-filter">
      <mat-form-field appearance="fill">
        <mat-label>Κατάσταση Λογαριασμού</mat-label>
        <mat-select [(value)]="selectedStatus" [(ngModel)]="selectedStatus" (ngModelChange)="onChangeStatus()">
          <mat-option value = "all">Όλοι</mat-option>
          <mat-option value = "enabled">Ενεργός</mat-option>
          <mat-option value = "disabled">Ανενεργός</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="role-filter">
      <mat-form-field appearance="fill">
        <mat-label>Ρόλος Εργαζομένου</mat-label>
        <mat-select [(value)]="selectedRole" [(ngModel)]="selectedRole" (ngModelChange)="onRoleChange($event)">
          <mat-option value = "all">Όλοι</mat-option>
          <mat-option value = "admin">Admin</mat-option>
          <mat-option value = "hr">HR</mat-option>
          <mat-option value = "employee">Εργαζόμενος</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="user-filter">
      <mat-form-field appearance="fill">
        <mat-label>Αναζήτηση Username</mat-label>
        <input (keyup)="onUsernameChange($event)" matInput placeholder="Username" #input>
      </mat-form-field>
    </div>
    <div class="add-btn">
      <button mat-raised-button class="button" color="primary" (click)="navigateTo('add-user')" >
        <div class="btn-comms">
          <mat-icon class="add-icon">person_add</mat-icon>
          <span>Προσθήκη Λογαριασμού</span>
        </div>
      </button>
    </div>
  </div>
  <div class="table-container mat-elevation-z8">
    <mat-table matSort class="table" #table [dataSource]="dataSource">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef > Username </mat-header-cell>
        <mat-cell *matCellDef="let employeeUser"> {{employeeUser.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="employees-name">
        <mat-header-cell *matHeaderCellDef > Εργαζόμενος </mat-header-cell>
        <mat-cell *matCellDef="let employeeUser"> {{employeeUser.firstName + " " + employeeUser.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef > Ρόλος </mat-header-cell>
        <mat-cell *matCellDef="let employeeUser"> {{employeeUser.role}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef > Κατάσταση λογαριασμού </mat-header-cell>
        <mat-cell *matCellDef="let employeeUser"> <span class="status-col {{employeeUser.enabled ? 'active' : 'inactive'}}">{{toggleContentEnabled(employeeUser.enabled)}}</span> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="supervisor">
        <mat-header-cell *matHeaderCellDef > Προιστάμενος </mat-header-cell>
        <mat-cell *matCellDef="let employeeUser"> <span class="status-col {{!!employeeUser.supervisor}}">{{toggleContentSupervisor(employeeUser.supervisor)}}</span> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="editBtn">
        <mat-header-cell style="max-width: 150px;" *matHeaderCellDef ></mat-header-cell>
        <mat-cell style="justify-content: center; max-width: 150px;"  *matCellDef="let employeeUser">
          <mat-icon class="icon edit" matTooltip="Επεξεργασία" color="primary" (click)="editUser()">edit</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row class="header"  *matHeaderRowDef="displayedColumns" ></mat-header-row>
      <mat-row [ngClass]="getIndexClass(row)" class="header-row" *matRowDef="let row;   columns: displayedColumns;"  (click)="setRowData(row)" (dblclick)="editUser()"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[4, 8]" showFirstLastButtons aria-label="Select page"></mat-paginator>
  </div>
</main>

<div *ngIf="!isLoaded">
  <mat-spinner color="primary"></mat-spinner>
</div>
