@import '../../../../../src/styles';

main{
  padding: 5vh 0 0 0;
  margin: 5vh 0 5vh 5vw;
}

h1{
  color: $myFixedColor;
}

mat-paginator{
  background-color: #d6d4d4;
  color: $myFixedColor;
}

mat-paginator.even{
  background-color: #E9E9E9;
}

.table-container{
  display: none;
  margin-right: 5vw ;
  overflow: auto;
}

.table-container.loaded{
  display: block;
}

.above-table{
  display: flex;
  justify-content: space-between;
}

.filters{
  display: flex;
}

.firstName-filter, .lastName-filter{
  margin-left: 10px;
}

.add {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.add h2{
  font-size: 14pt;
  margin: auto 5px;
  transition: color 0.24s ease
}

.add mat-icon{
  padding-right: 5px;
  transition: opacity 0.14s ease;
}

.add:hover mat-icon{
  opacity: 74%;
}

.add:hover h2{
  color: $myFixedColor;
}

.header *{
  background-color: #252525;
  color: $myFixedColor;
}

.even-row {
  background-color: #E9E9E9; /* Set the background color for even rows */
}

/* Add a class for odd rows */
.odd-row {
  background-color: #d6d4d4; /* Set the background color for odd rows */
}

.header-row {
  transition: background-color 0.34s ease; /* Add a smooth transition effect */
}

/* Style for even rows on hover */
.header-row.even-row:hover {
  background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
}

/* Style for odd rows on hover */
.header-row.odd-row:hover {
  background-color: rgba(255, 145, 0, 0.305);/* Change this to your desired color */
}

.choices{
  display: flex;
  justify-content: space-evenly;
}

.icon{
  scale: 107%;
  opacity: 90%;
  transition: scale 0.14s ease
}

.icon:hover{
  cursor: pointer;
  scale: 118%;
  transform: rotate(3deg);
  color: rgb(114, 74, 0);
}

.add-leave-icon{
  margin-left: 15px;
}

.bin{
  transition: scale 0.14s ease
}

.active{
  margin-right: 80px;
  text-align: center;
  padding: 5px;
  background-color: green;
  border-radius: 5px;
  color: white;
}

.inactive{
  margin-right: 80px;
  text-align: center;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  color: white;
}

.buttons-container:hover{
  cursor: pointer;
  scale: 110%;
}

.buttons-container {
  margin-left: 60%;
}

.add-employee-btn{
  display: flex;
  align-items: center;
}

.no-data-row{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.no-data-row span{
  font-size: 18px;
  color: #ae5a00;
}

mat-spinner{
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: white;
}
