main{
  padding: 5vh 0 0 0;
  margin: 5vh 10vh 5vh 5vw;
}

.table-container{
  margin-right: 5vw ;
  overflow: auto;
}

h1{
  color: #EB8C33;
}

.above-table{
  display: flex;
  justify-content: space-between;
}

.add {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.add h2{
  font-size: 14pt;
  margin: auto 5px;
  transition: color 0.24s ease
}

.add img{
  scale: 70%;
  transition: scale 0.14s ease;
}

.add:hover h2{
  color: #EB8C33;
}

.add:hover img{
  scale: 79%;
}

.header *{
  background-color: #252525;
  color: #EB8C33;
}


.even-row {
  background-color: #E9E9E9; /* Set the background color for even rows */
}

/* Add a class for odd rows */
.odd-row {
  background-color: #d6d4d4; /* Set the background color for odd rows */
}

.header-row {
  transition: background-color 0.34s ease; /* Add a smooth transition effect */
}

/* Style for even rows on hover */
.header-row.even-row:hover {
  background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
}

/* Style for odd rows on hover */
.header-row.odd-row:hover {
  background-color: rgba(255, 145, 0, 0.305);/* Change this to your desired color */
}


.bin{
  transition: scale 0.14s ease
}

.bin:hover{
  cursor: pointer;
  scale: 110%;
  transform: rotate(3deg);
}


