<h1>Tα στοιχεία μου </h1>

<mat-card>
  <div class="content">
  <mat-card-content>

    <div class="details-container">

      <div class="details-column">
        <mat-card-header>
          <mat-card-title>Όνομα</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput [disabled]="!isEditMode" name="firstName" [(ngModel)]="employee.firstName" placeholder="Όνομα">
        </mat-form-field>

        <!-- LastName -->
        <mat-card-header>
          <mat-card-title>Επώνυμο</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput [disabled]="!isEditMode" name="lastName" [(ngModel)]="employee.lastName" placeholder="Επίθετο">
        </mat-form-field>

        <!-- Email -->
        <mat-card-header>
          <mat-card-title>Email</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput [disabled]="!isEditMode" name="email" [(ngModel)]="employee.email" placeholder="Email">
        </mat-form-field>
      </div>

      <div class="details-column">
        <mat-card-header>
          <mat-card-title>Διεύθυνση</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput [disabled]="!isEditMode" name="address" [(ngModel)]="employee.address" placeholder="Address">
        </mat-form-field>

        <mat-card-header>
          <mat-card-title>Αριθμός Τηλεφώνου</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput [disabled]="!isEditMode" name="mobileNumber" [(ngModel)]="employee.mobileNumber" placeholder="Mobile Number">
        </mat-form-field>

        <mat-card-header>
          <mat-card-title>Ημερομηνία Πρόσληψης</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input matInput [disabled]="!isEditMode" name="hireDate" [(ngModel)]="employee.hireDate" placeholder="Hire Date">
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions id="actions">
    <button mat-raised-button color="warn" [disabled]="!isEditMode" (click)="saveDetails()">Αποθήκευση</button>
    <button mat-raised-button color="accent" [disabled]="!isEditMode" (click)="cancelEdit()">Ακύρωση</button>
  <mat-slide-toggle #editToggle color="primary" [(ngModel)]="isEditMode" [disabled]="isEditMode" class="custom-slide-toggle">Επεξεργασία</mat-slide-toggle>

  </mat-card-actions>
  </div>
  </mat-card>

