<main>

    <div class="column">
        <h1>Καλωσήρθες:</h1>
        <div class="card-header">
            <p> {{ name }}</p>
        </div>
        <div class="card">
            <p>Πραγματοποίησες είσοδο σαν {{ roles.role }}</p>
        </div>
    </div>

    <div class="column">
        <h1>Οι άδειες σου:</h1>
        <div class="card-header">
            {{Date() | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div class="card">

            <div class="card-content">
                <p *ngFor="let balance of takenLeaves">
                    {{balance.categoryTitle}}: {{balance.daysTaken}}/{{balance.days}}
                </p>
            </div>

            <div class="card-footer">
                <p class="card-footer">Προβολή <a (click)="navigateTo('leaves/restLeaves')"><u>λεπτομερειών</u></a></p>
            </div>

        </div>
    </div>

</main>