<main>

    <div class="column">
        <h1>Καλωσήρθες</h1>
        <div class="card">
            <p>Πραγματοποίησες είσοδο σαν <a href="">{{ (user) ? user.role : "Guest"}}</a></p>
        </div>
    </div>

    <div class="column">
        <h1>Οι άδειες σου:</h1>
        <div class="card-header">
            01/01/2023 - Σήμερα (Ληφθείσες)
        </div>
        <div class="card">

            <p *ngFor="let balance of getTakenLeaves()">
                {{balance.category}}: {{balance.daysTaken}}
            </p>

            <div class="card-footer">
                <p class="card-footer">Προβολή <a href="">λεπτομερειών</a></p>
            </div>
            
        </div>
    </div>

</main>