@import "/src/styles.scss";

body{
    overflow-x: hidden;
}

main{
    display: flex;
    padding: 9vh 5vw 0 0;
    overflow: auto;
    height: 88%;
}

.column{
    margin-inline: 5vw;
    width: 500px;
}

a{
    color: $myFixedColor;
    cursor: pointer;
}

.column h1{
    color: orange;
}

.column .card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #D9D9D9;
    min-height: 100px;
    padding: 12px;
}

.column .card p.text-center {
  text-align: center;
}

.column .card-header{
    background-color: #252525;
    color: orange;
    font-size: 13pt;
    width: fit-content;
    padding: 12px;
    width: auto;
}

.column .card-footer{
    width: 90%;
    bottom: 0;
    margin: 10px 0 0 0;
}

.card-header p{
  margin: 0;
}


@media screen and (max-width: 768px){
    main{
        flex-direction: column;
        padding-inline: 0;
    }

    .column{
        margin-inline: 5vw;
        min-width: 290px;
        width: 70vw;
    }
}
