<main [ngClass]="{'loaded':isLoaded}">
  <h1>Κατηγορίες Αδειών Εργαζομένων</h1>
  <div>
    <div class="filters">
      <div class="left-filter">
        <div class="status-filter">
          <mat-form-field appearance="fill">
            <mat-label>Κατάσταση Κατηγορίας</mat-label>
            <mat-select [(value)]="selectedStatus" [(ngModel)]="selectedStatus" (ngModelChange)="onChangeStatus()">
              <mat-option value = "all">Όλες</mat-option>
              <mat-option value = "enabled">Ενεργές</mat-option>
              <mat-option value = "disabled">Ανενεργές</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="title-filter">
          <mat-form-field appearance="fill">
            <mat-label>Αναζήτηση τίτλου άδειας</mat-label>
            <input (keyup)="onTitleChange($event)" matInput placeholder="Τίτλος" #input>
          </mat-form-field>
        </div>
      </div>
      <div class="add-btn">
        <button mat-raised-button color="primary" (click)="navigateTo('add-category')">
          <div class="add-category-btn">
            <mat-icon class="add-icon">add</mat-icon>
            <span>Προσθήκη Κατηγορίας</span>
          </div>
        </button>
      </div>
    </div>
    <div class="table-container mat-elevation-z8">
      <mat-table matSort  class="table" #table [dataSource]="categoriesSource">
        <ng-container matColumnDef="categoryName">
          <mat-header-cell *matHeaderCellDef > Κατηγορία </mat-header-cell>
          <mat-cell *matCellDef="let category"> {{category.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef > Κατάσταση Κατηγορίας </mat-header-cell>
          <mat-cell *matCellDef="let category" > <span class="status-col {{category.active ? 'active' : 'inactive'}}">{{toggleContentEnabled(category.active)}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="editBtn">
          <mat-header-cell *matHeaderCellDef > Επεξεργασία Κατηγορίας </mat-header-cell>
          <mat-cell *matCellDef="let category"><mat-icon class="icon edit" matTooltip="Επεξεργασία" color="primary" (click)="editCategory($event)">edit</mat-icon></mat-cell>
        </ng-container>
        <mat-header-row class="header"  *matHeaderRowDef="displayedColumns" ></mat-header-row>
        <mat-row [ngClass]="getIndexClass(row)" class="header-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <tr class="mat-row no-data-row" *matNoDataRow>
          <td class="mat-cell" colspan="3"><span>Δεν βρέθηκαν κατηγορίες αδειών</span></td>
        </tr>
      </mat-table>
      <mat-paginator [ngClass]="{'even': (categoriesSource.filteredData.length)% 2 == 0 || categoriesSource.filteredData.length>4}" [pageSizeOptions]="[4, 8]" showFirstLastButtons aria-label="Select page"></mat-paginator>
    </div>
  </div>
</main>

<div *ngIf="!isLoaded">
  <mat-spinner color="primary"></mat-spinner>
</div>
