@import '../../../../../src/styles';

main{
  padding: 5vh 0 0 0;
  margin: 5vh 0 5vh 5vw;
  display: none;
}

main.loaded{
  display: block;
}

.table-container{
  margin-right: 5vw ;
  overflow: auto;
}

h1{
  color: orange;
}

.slide-me-daddy{
  display: flex;
  align-content: center !important;
}

.slide-me-daddy h3{
  margin: 0 15px 0 0 !important;
}

.header *{
  background-color: #252525;
  color: orange;
}

.above-table{
  display: flex;
  justify-content: space-between;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 5vw
}

.even-row {
  background-color: #E9E9E9; /* Set the background color for even rows */
}

/* Add a class for odd rows */
.odd-row {
  background-color: #d6d4d4; /* Set the background color for odd rows */
}

.header-row {
  transition: background-color 0.34s ease; /* Add a smooth transition effect */
}

/* Style for even rows on hover */
.header-row.even-row:hover {
  background-color: rgba(255, 145, 0, 0.305); /* Change this to your desired color */
}

/* Style for odd rows on hover */
.header-row.odd-row:hover {
  background-color: rgba(255, 145, 0, 0.305);/* Change this to your desired color */
}


.add-btn{
  margin-top: 35px;
}


.active{

  margin-right: 80px;
  text-align: center;
  width: 70%;
  padding: 5px;
  background-color: green;
  border-radius: 5px;
  color: white;
}

.inactive{

  margin-right: 80px;
  text-align: center;
  width: 70%;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  color: white;
}
.selected{
  background-color: khaki;
}

mat-spinner{
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.no-data-row{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.no-data-row span{
  font-size: 18px;
  color: #ae5a00;
}

mat-paginator{
  background-color: #e6e6e6;
  color: $myFixedColor;
}

.icon{
  scale: 107%;
  opacity: 90%;
  transition: scale 0.14s ease
}

.icon:hover{
  cursor: pointer;
  scale: 118%;
  transform: rotate(3deg);
  color: rgb(114, 74, 0);
}
