<nav>
    <a (click)="navigateTo('landing')" ><img class="logo" src=".\assets\logo.png" alt=""></a>

    <div class="tabs">
        <a routerLink="/home">
            <div class="option">Το προφίλ μου</div>
            
        
            <a routerLink="/home/MyDetails" routerLinkActive="active">
              <div class="option">
                My profile
              </div>
            </a>
        
            <!-- Add your other tabs here -->
          

        
            
        
        <a href="">
            <div class="option2">
                Άδειες 
                <span class="arrow">v</span>
            
                <div class="dropdown-content">
                    <a style="display: block; padding-left: 15px; line-height: 25px;" href="">Αιτήματα</a>
                    <a style="display: block; padding-left: 15px; line-height: 25px;" href="">Υπόλοιπα</a>
                </div>
            </div>
            
        </a>
    </div>

    <div class="logout">

        <img src=".\assets\logout.png" alt="">
        <a href="">Έξοδος</a>
    </div>
</nav>