<nav>
  <a class="logo-link" (click)="navigateTo('landing')">
    <img class="logo" src="./assets/logo.png" alt="The application's logo">
  </a>

  <ul class="tabs">
    <li class="tab">
      <a (click)="navigateTo('MyDetails')">Το προφίλ μου</a>
    </li>
    <li class="tab dropdown">
      <a>Άδειες <span class="arrow">v</span></a>
      <div class="dropdown-content">
        <a (click)="navigateTo('leaves/requests')">Αιτήματα</a>
        <a (click)="navigateTo('leaves/restLeaves')">Υπόλοιπα</a>
      </div>
    </li>
  </ul>

  <div class="logout">
    <a type="submit" (click)="doLogout()" id="logoutButton">
        <img src="./assets/logout.png" alt="Logout"/>
    </a>
  </div>

</nav>
